/versions/*/transformers/*/versions/*/coverage-html/
/versions/*/transformers/*/versions/*/node_modules/
/versions/*/transformers/*/versions/*/dist/
/coverage-summary.html
/versions/*/transformers/*/versions/*/test_results/actual/